<p>home works!</p>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sonoro Acers</title>

    <link rel="icon" href="../assets/logo1.png" type="image/png" />
  </head>
  <body>
    <header class="body__header">
      <div class="logo__container">
        <img
          class="icons menu__icon"
          src="../assets/menu-outline.svg"
          alt="Menu Icon"
        />
        <img
          class="icons logo__icon"
          src="../assets/logo1.png"
          alt="Logo Icon"
        />
        <p class="logo__text">Sonoro Acers</p>
      </div>

      <div class="search__container">
        <input class="search__field" type="text" placeholder="Search" />
        <img
          class="icons search__icon"
          src="../assets/search-circle-outline.svg"
          alt="Search Icon"
        />
        <img
          class="icons mic__icon"
          src="../assets/mic-circle-outline.svg"
          alt="Mic Icon"
        />
      </div>

      <div class="user__container">
        <img
          class="icons"
          src="../assets/notifications-circle-outline.svg"
          alt="Notification Icon"
        />
        <img
          class="icons user__icon"
          src="../assets/person-circle-outline.svg"
          alt="User Logo"
        />
      </div>
    </header>

    <div class="body__sidebar">
      <nav>
        <ul>
          <li>
            <a href="index.html" class="nav__icon"> Home</a>
          </li>
          <li>
            <a href="#"> History</a>
          </li>
          <li>
            <a href="#"> Watch Later</a>
          </li>
          <li>
            <a href="#"> Subscription</a>
          </li>
          <li>
            <a href="#"> Trending</a>
          </li>
          <li>
            <a href="#"> Music</a>
          </li>
          <li>
            <a href="#"> Movies</a>
          </li>
          <li>
            <a href="#"> Gaming</a>
          </li>
          <li>
            <a href="#"> News</a>
          </li>
          <li>
            <a href="#"> Sports</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="body__main">
      <div class="home_wrap">
        <h1 class="home_text1">Recent Contents Viewed</h1>
        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>
        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>
        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>
        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>
        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>

        <div class="home_wrapper white_home">
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
        </div>

        <div class="home_wrapper white_home">
          <div class="p1_home">
            <p class="home_p1">
              The pervasive influence of Information Technology (IT) extends
              into every facet of human existence. IT shapes our educational
              experiences, professional endeavors, and social interactions,
              bridging gaps between individuals and enabling seamless
              communication.
            </p>
            <p class="home_p1">
              Graduates from Baliuag University College of Information
              Technology Education embark on diverse career paths within the
              expansive realm of technology. Opportunities abound in fields such
              as application and game development, web programming, network
              administration and security management, database administration,
              service management, software engineering, artificial intelligence,
              machine learning, and data science.
            </p>
            <p class="home_p1">
              Explore our range of IT programs to acquire practical knowledge
              and hone critical thinking skills essential for success in the
              dynamic IT landscape. Our curriculum strikes a balance between
              theoretical insights and hands-on exploration, empowering students
              to navigate complex computing environments with confidence.
            </p>
          </div>
          <img
            class="logo2 logo2nd"
            src="../assets/placeholder.jpg"
            alt="Cite Logo"
          />
        </div>
      </div>
    </main>

    <footer class="body__footer"></footer>
  </body>
</html>
